html {
  background-color: black;
  opacity: 0.9;

  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;

  text-align: center;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;

  width: 100%;
  height: 69px;
  border-bottom: solid seashell 1px;

  background-color: black;
  opacity: 0.9;
  }

.logo {
  height: 50px;
  margin-left: 10px;
}

nav {
  margin-right: 10px;
}

nav li{
  display: inline-block;
  padding: 0 10px;
}

a {
  color: seashell;
  text-decoration: underline;
}

#mission {
  display: flex;
  align-items: center;

  width: 1200px;
  height: 700px;
  margin: 0 auto;
  border-top: 70px solid black;

  background-image: url("../images/img-mission-background.jpg");
}

#mission hgroup {
  z-index: 10;
  width: 100%;
  background-color: black;
}

#featured-tea {
  width: 1000px;
  margin: 0 auto;
  padding-top: 70px;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

figure {
  margin: 0 15px;
}

figure img {
  width: 300px;
  height: 200px;
}

figcaption {
  margin: 10px 0 30px 0;
  font-weight: bold;
}

#locations {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  border-top: 70px solid black;

  background: 0 20% url("../images/img-locations-background.jpg");
}

#locations h2 {
    margin: 0;
    padding: 45px 0 15px 0;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 300px;
  height: 275px;
  margin: 0 20px;

  background-color: black;
  opacity: 1;
}

.location h3,
.location p {
  display: block;
  margin: 0;
}

address {
  height: 200px;
  font-style: normal;
}

address h2 {
  margin-top: 10px;
}

footer h5 {
  margin-left: 20px;
  font-weight: bold;
  text-align: left;
}
