body {
  background-color: black;
  opacity: 0.9;

  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;

  width: 100%;
  height: 69px;
  border-bottom: solid seashell 1px;
  margin: 0;

  background-color: black;
  opacity: 0.9;

}

.logo {
  height: 50px;
  margin-left: 10px;
}

nav {
  margin-right: 10px;
}

nav li{
  display: inline-flex;
  padding: 0 10px;
}

.internal-link {
  color: seashell;
  text-decoration: underline;
}

#mission {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 700px;
  margin: 70px auto;
  background-image: url("../images/img-mission-background.jpg");
}

#mission hgroup {
  z-index: 10;
  width: 100%;
  background-color: black;
}

#featured-tea {
  width: 1000px;
  margin: 0 auto;
}

.galery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.galery img {
  width: 300px;
  height: 200px;
  padding: 0 15px;
}

.galery h4 {
  margin-top: 10px;
}
